/* main.css */
@import url("variable.css");
body {
  font-family: var(--font-family-poppins) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F5F8!important;
  /* overflow: scroll!important; */
}

h1, h2, h3, h4, h5, h6,p,a {
  font-family: var(--font-family-poppins) !important;
}
.MuiTypography-root, .MuiTypography-h6,.MuiTypography-h5,.MuiTypography-h4,.MuiTypography-h3,.MuiTypography-h2,.MuiTypography-h1 {
  font-family: var(--font-family-poppins) !important;
}

.parentContainer {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
  }
  .childHeader {
    width: 100%;
   
  }

  .sidebar {
    width: 250px;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar.closed {
    width: 60px; /* Icon width */
  }

